* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #181419;
  color: white;
}

/* HEADER */

.header {
  background-color: #782a37;
  color: #ffffff;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;

  .navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;

    .anclaLogo {
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 1.2rem;
    }

    .listaNav {
      list-style: none;
      display: flex;
      align-items: center;
    }

    .listaItem {
      margin-right: 20px;

      .linkNav {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1 rem;
        padding: 0.5rem 1rem;

        /* Agregar efecto de botón presionado, evita una animacion brusca*/
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
          transform: scale(0.95);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
        }
      }

      .linkNav.iniciarSesion {
        background-color: #181419;
        color: white;

        border-radius: 5px;
        /* Agregar efecto de botón presionado */
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
          background-color: #9f3647;
          transform: scale(0.95);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
/*catalogo*/
.bodyCatalogo{
  background-color: #181419;

}

 .bebidasVariedad{
  
  width:80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  .tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    background-color: #181419;
    color:white;
  } 
  .bebidas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
  }
    a{
       text-decoration: none;
        color: #ffffff;
      .bebida{
         width:200px;
        height: 300px;  
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.5s ease;
         
        
        
        
     
      .imgBebidas{
        
          width: 100%;
          height: 100%; 
        object-fit: cover;
          border-radius: 10px;
          
         
      }
    
      .tituloBebida{
          z-index: 2;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          max-width: 20rem;
          width: 100%;
          transform: translateY(-50%) translateX(-50%);
          h4 {
              font-size: 1.6rem;
              font-weight: bold;
              opacity: 0;
              margin-bottom: 0.5rem;
              letter-spacing: 0.1rem;
              transition: opacity 0.5s ease-in-out;

          }
      }
      &:hover{
         box-shadow: 0 0 30px #9f3648cd;
         transform: scale(0.9);
        
      }
      &:hover .tituloBebida{
          width: 100%;
          height: 100%;
          backdrop-filter: blur(20px);
          display: flex;
          justify-content: center;
          align-items: center;
      }
      &:hover h4 {
          width: 100%;
          padding: 0.5rem;
          opacity: 1;
      }
   
  }

 }
}

.boton{
  border: 1px solid white;
  box-sizing: content-box;
  margin-top:50px;
  margin-left:20px;
  background-color:#9f3647;
  color: #ffffff;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom:60px;
   /* Agregar efecto de botón presionado */
   transition: transform 0.3s, box-shadow 0.3s;
   &:hover {
       background-color: #9f3647;
       transform: scale(0.95);
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
   }

}

  
  
            
        

/*ESTILOS PARA HEADER MOBILE Y TABLET*/

@media (max-width: 768px) {
  .header {
    height: initial;
    .navegacion {
      margin-left: 10px;
      margin-right: 10px;
      flex-direction: column;
      row-gap: 20px;
      .anclaLogo {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .listaNav {
        padding: initial;
        .listaItem {
          .linkNav {
            font-weight: 400;
            margin-right: initial;
            font-size: 1rem;
            padding: 0.2rem;
          }
        }
      }
    }
  }
}

.sectionPrincipal {
  color: white;
  background: linear-gradient(to right top, #0000008a, #0000008a),
    url(../portada/portada1.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .subtituloPrincipal {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .botonRegistrarse {
    background-color: #9f3647;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    /* Agregar efecto de botón presionado */
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      background-color: #9f3647;
      transform: scale(0.95);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
  }
}

.buscadorPrincipal {
  background-color: #181419;
  color: aliceblue;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloSection {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.buscadorBebidas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .inputBuscador {
    font-size: 1.2rem;
    padding: 0px 20px;
    width: 300px;
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 30px;
    border: 2px solid white;
    outline: none;
    margin: 20px 20px;
  }

  .botonBuscador {
    background-color: #782a37;
    display: inline-block;
    color: white;
    height: 50px;
    margin: 20px 10px;
    padding: 0px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;

    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      background-color: #782a37;
      transform: scale(0.95);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
  }
}

.texto-carta {
  color: #767676;
  text-align: center;
  font-size: 0.8rem;
}

/* SECCION DE BEBIDAS */

.bebidas {
  background-color: #181419;
  color: aliceblue;
  overflow: hidden;

  .bebidas-container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    gap: 30px;
  }

  .bebida {
    margin-bottom: 40px;
    max-width: 470px;

    .bebida-principal {
      gap: 10px;
    }

    .bebida-info {
      h1 {
        color: #782a37;
      }
    }

    h4 {
      color: #9f3647;
    }
  }
}
